.menu {
    width: 200px;
    height: 90vh;
    /* background-color:rgba(230, 72, 20, 1);  */
    border-right: 1px solid #ebebeb;
    margin-top: 55px;
    overflow: auto;
}

.menu span, .menu a {
    cursor: pointer;
    color: black;
    width: 160px;
}

.nav-item {
    display: flex;
    padding: 5px;
    margin: 5px;
    margin-right: 10px;
    width: 190px;
    padding: 0px;
    border-bottom: 1px solid rgba(230, 72, 20, 1);
    cursor: pointer;
}

/* .nav-item:hover {
    background-color: rgba(230, 72, 20, 1);
} */

/* .nav-item a:hover{
    color:white;
} */

.active {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.nav-item-child {
    margin-left: 15px;
}

.nav-item-child ul {
    margin-bottom: 0px;
   
}

.nav-item-child li {
    /* border-bottom: 1px solid rgba(230, 72, 20, 1); */
    cursor: pointer;
}

i {
    /* color: #5e72e4; */
    font-size: 20px;
}

.nav-item i {
    top: 12px;
    position: relative;
    margin-right: 10px;
}

/* .nav-item:hover {
    border-radius: 40px #5e72e4;
    border: 0.5px solid #5e72e4;
} */

.nav-link {
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
    background: transparent;
    /* color: rgba(0, 0, 0, .5); */
    color: black;
}

.uno {
    margin-top: 8px;
}
