.form-login {
    width: 450px;
}

@media (max-width: 1124px) {
    .form-login {
        width: 90vw;
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .form-login {
        width: 88vw;
        
    }
}