.noticia-login {
  width: 500px;
  height: 352px;
  padding: 10px 10px;
  /* background-color: #e4e5e6 !important; */
  border-right: 1px solid #e4e5e6;
}

.noticia-login hr {
  color: white;
}

.noticia-soporte{
  margin-top:5px;
  margin-bottom: 20px;
  padding: 15px;
  border:1px solid #e4e5e6;
  border-radius: 5px;
}

@media (max-width: 1144px) {
  .noticia-login {
    width: 350px;
    margin-bottom: 10px;
  }
}
