.noticia-login {
  width: 600px;
  height: 80vh;
  background-color: #efefef;
  padding: 10px 10px;
  background-color: #E4E5E6 !important;
  
}


@media (max-width: 1124px) {
  .noticia-login{
    width: 90vw;
    margin-bottom: 20px;
  }
}


@media (max-width: 500px) {
  .noticia-login{
      width: 88vw;
      margin-bottom: 20px;
  }
}